<form id="payment-form" data-secret="{{ client_secret }}">
  <h3>Contact info</h3>
  <div id="link-authentication-element"></div>

  <h3>Payment</h3>
  <div id="payment-element"></div>

  <button id="submit">Submit</button>
</form>